@model IEnumerable<Avengers.Models.Mechant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Civil.Prenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CivilID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pseudonyme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image_Mechant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disponible)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Civil.Prenom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CivilID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pseudonyme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Image_Mechant)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Disponible)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MechantID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MechantID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MechantID })
        </td>
    </tr>
}

</table>
