@model Avengers.Models.Satisfaction

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Satisfaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mission.Commentaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mission.Commentaire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Niveau_Satisfaction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Niveau_Satisfaction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Commentaires)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Commentaires)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Identification_Heros_Mechant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Identification_Heros_Mechant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Depot_Plainte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Depot_Plainte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Motif_Plainte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motif_Plainte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_Satisfaction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Satisfaction)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
