@model Avengers.Models.Heros

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Heros</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Civil.NomComplet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Civil.NomComplet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pseudonyme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pseudonyme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone_Secret)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone_Secret)
        </dd>

        @if (Model.Files.Any(f => f.FileType == FileType.Hero))
        {
            <dt>
                Photo du Héro
            </dt>
            <dd>
                <img src="~/File?id=@Model.Files.First(f => f.FileType == FileType.Hero).FileId" alt="hero" />
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Disponible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disponible)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HerosID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
