@model IEnumerable<Avengers.Models.Heros>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Civil.Prenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pseudonyme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone_Secret)
        </th>
        <th>
            Photo du Héro
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disponible)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Civil.Prenom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pseudonyme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone_Secret)
        </td>
        <td>
            <img src="~/File?id=@item.Files.First(f => f.FileType == Avengers.Models.FileType.Hero).FileId" height="150" width="150" alt="Hero" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Disponible)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HerosID }) |
            @Html.ActionLink("Details", "Details", new { id=item.HerosID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HerosID })
        </td>
    </tr>
}

</table>
