@model IEnumerable<Avengers.Models.Incident_Motif>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Motif)
        </th>


        <th>
            Symbole
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Motif)
            </td>

            <td>
                <img src="~/File?id=@item.Files.First(f => f.FileType == Avengers.Models.FileType.Symbole).FileId" height="50" width="50" alt="symbole" />
            </td>


            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Incident_MotifID }) |
                @Html.ActionLink("Details", "Details", new { id = item.Incident_MotifID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Incident_MotifID })
            </td>
        </tr>
    }

</table>
